ssh_public_key="~/.ssh/id_rsa.pub"
ssh_private_key="~/.ssh/id_rsa"
ssh_fingerprint="(copy and paste: ssh-keygen -lf ~/.ssh/id_rsa.pub)"
do_token=""
gc_credentials="account.json"
gc_project=""
gc_region="asia-east1-a"
aws_access_key=""
aws_secret_key=""
aws_default_region="ap-northeast-1"
