do_token=""
gc_credentials="account.json"
gc_project=""
gc_region="asia-east1-a"
pub_key="~/.ssh/id_rsa.pub"
pvt_key="~/.ssh/id_rsa"
ssh_fingerprint="(copy and paste: ssh-keygen -lf ~/.ssh/id_rsa.pub)"
